<div class="container">
  <form #form="ngForm" [formGroup]="reviewForm">
    <div class="row">
      <div class="col-4">
        <div class="row pb-5" *ngFor="let data of availablePlans; index as i">
          <table style="border: 1px solid black">
            <tbody class="p-2">
              <div class="d-flex justify-content-end">
                <input class="form-check-input" [value]="i" formControlName="plan" (click)="onRadioClick(i)"
                  type="radio" />
              </div>
              <div>
                <tr>
                  <th>CarrierName</th>
                  <td>{{ data.CarrierName }}</td>
                </tr>
                <tr>
                  <th>MaximumCoverage</th>
                  <td>{{ data.CarrierDetails.MaximumCoverage }}</td>
                </tr>
                <tr>
                  <th>MinimumCoverage</th>
                  <td>{{ data.CarrierDetails.MinimumCoverage }}</td>
                </tr>
                <tr>
                  <th>Premium</th>
                  <td>{{ data.CarrierDetails.Premium }}</td>
                </tr>
                <tr>
                  <th>Term</th>
                  <td>{{ data.CarrierDetails.Term }}</td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Applicant Deatils -->
      <div class="col-8">
        <div class="container row">
          <div class="col">
            <div>
              <h4>Applicant Details</h4>
              Full Name : {{ applicantData?.fullName }} <br />
              Phone Number : {{ applicantData?.phoneNumber }}<br />
              Email : {{ applicantData?.email }}<br />
              Gender : {{ applicantData?.gender }}<br />
              Date Of Birth : {{ applicantData?.dateOfBirth }}<br />
              Age : {{ applicantData?.age }}<br /><br />

              <h6>Address Deatils</h6>
              StreetAddress : {{ applicantData?.streetAddress }}<br />
              Country : {{ applicantData?.country }}<br />
              City : {{ applicantData?.city }}<br />
              State : {{ applicantData?.state }}<br />
              ZipCode : {{ applicantData?.zipCode }}<br />
            </div>
            <div class="pt-3">
              <button class="btn btn-outline-primary" type="button" routerLink="/applicant/applicant-details">
                Edit
              </button>
            </div>
          </div>
          <div class="col">
            <h3>Medical Details</h3>
            <div>
              FullName : {{ applicantMedicalData?.fullName }}<br />
              Gender : {{ applicantMedicalData?.gender }}<br />
              Date Of Birth :{{ applicantMedicalData?.dateOfBirth }}<br />
              Age : {{ applicantMedicalData?.age }}<br /><br />
              <h6>Other Health-Info</h6>
              <div *ngIf="isSmoke">
                Do you smkoke : {{ applicantMedicalData?.smokeText }} <br />
                Do you have Asthama : {{ applicantMedicalData?.asthamaText }}<br />
              </div>
              <div *ngIf="isAlcohol">
                Do you drink Alcohol : {{ applicantMedicalData?.alcohol }}<br />
              </div>
              <div *ngIf="isOther">
                Other HealfInfo : {{ applicantMedicalData?.otherInfo }}
              </div>
            </div>
            <div class="pt-3">
              <button class="btn btn-outline-primary" type="button" routerLink="/applicant/medical-details">
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-success" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </form>
</div>
