<div class="container">
  <div class="pb-2">
    <h1>Medical Details</h1>
  </div>
  <div>
    <form #medicalForm="ngForm" [formGroup]="applicantMedicalForm" class="row">
      <!-- General Info -->
      <div class="row pb-3">
        <div class="col-4 form-check">
          <input class="form-check-input" type="checkbox" formControlName="checkApplicant"
            (change)="onApplicantCheck($event)" [checked]="currentlyChecked === check_box_type.Applicant"
            (click)="selectCheckBox(check_box_type.Applicant)" />
          <label class="form-check-label" for="flexCheckDefault">Self Insurance</label>
        </div>

        <div class="col-4 form-check" *ngIf="isMarried">
          <input class="form-check-input" type="checkbox" formControlName="checkSpouse" (change)="onSpouseCheck($event)"
            [checked]="currentlyChecked === check_box_type.Spouse" (click)="selectCheckBox(check_box_type.Spouse)" />
          <label class="form-check-label" for="flexCheckDefault">Spouse Insurance</label>
        </div>

        <div class="col-4 form-check">
          <input class="form-check-input" type="checkbox" formControlName="checkOthers" (change)="onOtherCheck($event)"
            [checked]="currentlyChecked === check_box_type.Other" (click)="selectCheckBox(check_box_type.Other)" />
          <label class="form-check-label" for="flexCheckDefault">Others Insurance</label>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <label for="FullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" formControlName="fullName" [attr.readonly]="
              isApplicantSelected || isSpouseSelected || isOtherSelected
            " />
          <span style="color: red" *ngIf="
              (f.fullName && f.fullName.invalid && f.fullName.touched) ||
              (f.fullName && f.fullName.invalid && formSubmitted)
            ">
            Required</span>
        </div>
        <div class="col-6">
          <label for="Gender" class="form-label">Gender</label>
          <input type="text" class="form-control" formControlName="gender" [attr.readonly]="
              isApplicantSelected || isSpouseSelected || isOtherSelected
            " />
          <span style="color: red" *ngIf="
              (f.gender && f.gender.invalid && f.gender.touched) ||
              (f.gender && f.gender.invalid && formSubmitted)
            ">
            Required</span>
        </div>
        <div class="col-6">
          <label for="Gender" class="form-label">DateOfBirth</label>
          <input type="date" max="{{ this.maxDate }}" (change)="ageCalculatorApplicant($event)" class="form-control"
            formControlName="dateOfBirth" [attr.readonly]="
              isApplicantSelected || isSpouseSelected || isOtherSelected
            " />
          <span style="color: red" *ngIf="
              (f.dateOfBirth && f.dateOfBirth.invalid && f.dateOfBirth.touched) ||
              (f.dateOfBirth && f.dateOfBirth.invalid && formSubmitted)
            ">
            Required</span>
        </div>
        <div class="col-6">
          <label for="Gender" class="form-label">Age</label>
          <input type="text" class="form-control" formControlName="age" readonly>
          <span style="color: red" *ngIf="
          (f.age && f.age.invalid && f.age.touched) ||
          (f.age && f.age.invalid && formSubmitted)
        ">
            Required</span>
        </div>

      </div>
      <!-- //General Info -->

      <!-- HealthInfo -->
      <div class="pb-5">
        <div class="form-check pt-3">
          <div class="row">
            <div class="col-4">
              <input class="form-check-input" type="checkbox" formControlName="checkSmoke" [checked]="checkBoxSmoke"
                (change)="onCheck_Smoking($event)" />
              <label class="form-check-label" for="flexCheckDefault">Smoking</label>
            </div>
            <div class="col-8">
              <div *ngIf="isSmoke">
                <label class="form-label">Do you smkoke?</label>
                <input type="text" class="form-control" formControlName="smokeText" />
                <span style="color: red" *ngIf="
                (f.smokeText && f.smokeText.invalid && f.smokeText.touched) ||
                    (f.smokeText && f.smokeText.invalid && formSubmitted)">
                  Required</span>
              </div>
              <div *ngIf="isSmoke">
                <label class="form-label">Do you have Asthama?</label>
                <input type="text" class="form-control" formControlName="asthamaText" />
                <span style="color: red" *ngIf="
                    (f.asthamaText && f.asthamaText.invalid && f.asthamaText.touched) ||
                    (f.asthamaText && f.asthamaText.invalid && formSubmitted)">
                  Required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-check pt-3">
          <div class="row">
            <div class="col-4">
              <input class="form-check-input" type="checkbox" formControlName="checkAlcohol" [checked]="checkBoxAlcohol"
                (change)="onCheck_Alcohol($event)" />
              <label class="form-check-label" for="flexCheckDefault">Alcohol</label>
            </div>
            <div class="col-8">
              <div *ngIf="isAlcohol">
                <label class="form-label">Do you drink Alcohol?</label>
                <input type="text" class="form-control" formControlName="alcohol" />
                <span style="color: red" *ngIf="
                    (f.alcohol && f.alcohol.invalid && f.alcohol.touched) ||
                    (f.alcohol && f.alcohol.invalid && formSubmitted)
                  ">
                  Required</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-check pt-3">
          <div class="row">
            <div class="col-4">
              <input class="form-check-input" formControlName="checkOtherInfo" type="checkbox"
                [checked]="checkBoxOtherInfo" (change)="onCheck_OtherInfo($event)" />
              <label class="form-check-label" for="flexCheckDefault">Other Health Information</label>
            </div>
            <div class="col-8">
              <div *ngIf="isOtherInfo">
                <label class="form-label">Mention</label>
                <textarea class="form-control" formControlName="otherInfo" rows="3"></textarea>
                <span style="color: red" *ngIf="

                (f.otherInfo && f.otherInfo.invalid && f.otherInfo.touched) ||
                    (f.otherInfo && f.otherInfo.invalid && formSubmitted)
                  ">
                  Required</span>
              </div>
            </div>
          </div>
        </div>
        <span style="color: red" *ngIf="checkBoxGroup">Select atleast one checkbox</span>

      </div>
      <!-- //HealthInfo -->
    </form>
  </div>
  <div class="row pb-5">
    <div class="col d-flex justify-content-start">
      <button type="buttton" routerLink="/applicant/applicant-details" class="btn btn-outline-success">Back</button>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="buttton" (click)="medicalFormInfo(medicalForm.value)" class="btn btn-outline-success">Next</button>
    </div>
  </div>
</div>
