<div class="container">
  <div class="row">
    <div>
      <h5>Applicant</h5>
      Full Name : {{applicantDetails.fullName}} <br>
      Phone Number : {{applicantDetails.phoneNumber}}<br>

      <h5>Insurance For</h5>
      Full Name : {{medicalDetails.fullName}} <br>
      Date Of Birth : {{medicalDetails.dateOfBirth}} <br>
      <h6>Medical Details</h6>

      <div *ngIf=medicalDetails.checkSmoke>
        Do You Smoke : {{medicalDetails.smokeText}}<br>
        Do you Have Asthama : {{medicalDetails.asthamaText}}<br>
      </div>

      <div *ngIf=medicalDetails.checkAlcohol>
        Do you drink Alcohol : {{medicalDetails.alcohol}}<br>
      </div>
      <div *ngIf=medicalDetails.checkOtherInfo>
        Other heath Information : {{medicalDetails.otherInfo}} <br>
      </div>
      <h6>Insurance Seleted</h6>
      <div>
        Carrier Name : {{applicantPlan.carrierName}} <br>
        Premium : {{applicantPlan.premium}}
      </div>
    </div>
  </div>
</div>
